flask
langchain
langchain-community
langchain-google-genai
PyPDF2
faiss-cpu
google-generativeai
python-dotenv
Werkzeug
CORS
pdfplumber
pymongo
llama_index.embeddings.gemini
llama_index.llms.gemini
llama_index.core
llama_index.vector_stores.mongodb
sentence-transformers
faiss-cpu